<div class="team">
  <!-- <img
    class="TeamImage"
    src="{{ team.teamImageUrl }}"
    width="150"
    height="150"
  /> -->

  <ul>
    <li *ngFor="let person of team.teamMembers">
      {{ person.name }}
    </li>
  </ul>
</div>
