.team {
  display: inline-block;
  padding: 1rem;
  margin: 1rem;
  width: 10rem;
  height: 10rem;
  background-color: white;
  border-radius: 3rem;
  vertical-align: top;
}

.TeamImage {
  border-radius: 50%;
}
