<h2>Members</h2>
<form [formGroup]="formGroup">
  <input
    formControlName="memberName"
    type="text"
    (keypress.enter)="onAdd()"
  /><button (click)="onAdd()">Add</button>
  <div class="memberlist">
    <div *ngFor="let member of members; let i = index">
      {{ member.name }} <button (click)="onRemove(i)">X</button>
    </div>
  </div>
</form>
