.container {
  background-color: #424b54;
}

.header {
  height: 20rem;
  padding-bottom: 10rem;

  &__panel {
    vertical-align: top;
    border-radius: 2rem;
    padding: 4rem;
    display: inline-block;
    width: 15rem;
    margin: 5%;
    height: 10rem;
    background-color: white;
  }
}
.teams {
  border-top-left-radius: 40%;
  border-top-right-radius: 40%;
  height: calc(100vh - 20rem);
  background-color: #e1ce7a;
}

.tsparticles {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -1;
}
