<div class="container">
  <div class="header">
    <div class="header__panel">
      <lib-members
        [members]="members"
        (memberAdded)="onAddMember($event)"
        (memberRemoved)="onRemove($event)"
      ></lib-members>
    </div>
    <div class="header__panel">
      <lib-settings (generate)="onGenerate($event)"></lib-settings>
    </div>
  </div>

  <div class="teams">
    <lib-team *ngFor="let team of teams" [team]="team"></lib-team>
  </div>
</div>
